.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form > input {
    max-width: 400px;
    text-align: center;
    list-style: none;
    height: 30px;
    margin-bottom: 20px;
}

.form > span {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.form > button {
    max-width: 200px;
}

.btn-success {
    margin-top: 10px;
}

.mb-3 {
    margin-top: 10px;
}

.actors {
    width: 300px;
}

